*{
    margin: 0;
    padding: 0;
    font-family: nunito;
    font-weight: 900;
    font-size: large;
}

@font-face {
    font-family: nunito;
    src: url("../fonts/Nunito-Light.ttf");
}

body{
    background-color: #fefbfb;
}

.navbar{
    background-color: #27ae60;
}



.navbar-nav li a{
    color: #fff;
    padding: 1rem 0 1rem 0;
    border-radius: 10px;
}

.navbar-nav li a:hover{
    color: #fff;
    background-color: #219150 !important;
    border-radius: 10px !important;
    transition: 0.6s;
}


.bottom-navbar{
    text-align: center;
    background-color: #27ae60;
    position: fixed;
    bottom: 0;left: 0;right: 0;
    z-index: 1000;
}

.bottom-navbar a{
    font-size: 1rem;
    height: 100%;
    padding: .5rem 1rem;
    color: #fff;
}

.bottom-navbar a:hover{
    background-color: #219150;
}

.new-member{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .9);
    z-index: 10000;
    transform: scale(0);
}

.new-member-register{
    margin-top: 5%;
    position: relative;
    border: .1rem solid rgba(0,0,0,0.4);
    padding: 40px;
    border-radius: 25px;
}

.form-check p a{
    font-size: .9rem;
    color: #27ae60;
}

.form-check{
    color: #fff;
    box-shadow:  0 .5rem 1rem rgba (0,0,0,0.7);
}

.form-check h3{
    color: #444;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.form-check label{
    color: #444;
    font-size: .9rem;
}

.form-check p{
    color: #444;
    font-size: .9rem;
}


.btn-close{
    position: absolute;
    top: 2%;
    right: 3%;
}

.slider-home{
    background: url("../image/stand/wall2.png");
    background-size: cover;
    background-position: center;
}

.bunner-text{
    margin-top: 30%;
}

.bunner-text h3{
    color: #444;
    font-size: 4rem;
}

.bunner-text p{
    color: #444;
    font-size: 1rem;
}


/* bunner photo */
/* home section start */

.home{ 
    background: url("../image/stand/background.jpg") no-repeat;
    background-size: cover;
}

.home-text{
    margin-top: 10%;
}

.home-text h3{
    font-size: 2.5rem;
    color: #444;
}

.home-text p{
    color: #444;
}

.img-item{
    margin-top: 15%;
    text-align: center;
    justify-content: center;
}

.img-item div a{
    transition: 1s;
}

.img-item div a:hover{
    transition: 0.7s;
    transform: scale(.95);
}

.stand{
    margin-bottom: 8%;
    margin-left: 2.5%;
    width: 95%;
    height: 15px;
    background-color:  #ff7700;
    box-shadow: 5px 10px 5px rgba(0,0,0,1);
}
/* home section end */

/* icon section start */
.icon-section{
    margin-top: 30px;
}

.icon-display{
    color: #27ae60;
    font-size: 3rem;
    padding: 10px;
    margin-top: 12px;
    margin-left: 30px;
}
.icon-section-text{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height: 100%;
    margin-top: 20px;
    margin-left: 125px;
    padding-bottom: 15px;
}


.icon-section-text-border{
    border: .1rem solid rgba(0,0,0,0.2);
    border-radius: 15px;
    margin: 10px;
    height: 130px;
}

.icon-section-text h3{
    font-size: 1.25rem;
    color: #444;
}

.icon-section-text p{
    font-size: .9rem;
    color: #666;
}
/* icon section end */


/* featured section start */
.featured-parent{
    margin-top: 100px;
    margin-bottom: 100px;
}

.heading{
    text-align: center;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.heading::before{
    content: '';
    position: absolute;
    top: 50%;left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 0.01rem;
    background: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.heading span{
    font-size: 2.5rem;
    padding: .5rem .2rem;
    color: #444;
    background: #fff;
    border: .1rem solid rgba(0,0,0,0.1);
}

.featured-parent .featured-slider .box{
    border-radius: 20px;
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: .1rem solid rgba(0,0,0,.1);
    text-align: center;
    height: 100%;
}

.featured-parent .featured-slider .box:hover{
    border: .1rem solid rgba(0, 0, 0, .2);
}

.featured-parent .featured-slider .box .image{
    padding: 1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
    transition: .5s;
}
  
.featured-parent .featured-slider .box .image img{
    width: 50%;
    height: 200px;
}

.featured-parent .featured-slider .box .icon{
    border-bottom: 1px solid #666;
    position: absolute;
    top: 0;left: 0;right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-101%);
    transition: .5s;
}

.featured-parent .featured-slider .box:hover .image{
    transform: translateY(1.3rem);
    transition: .5s;
}

.featured-parent .featured-slider .box:hover .icon{
    transform: translateY(0);
    transition: .5s;
}

.featured-parent .featured-slider .box .icon a{
    color: #444;
    font-size: 1.5rem;
    padding: 2px 20px;
}

.featured-parent .featured-slider .box .icon a:hover{
    background: #27ae60;
    color: #fff;
}

.featured-parent .featured-slider .box .content{
    background: #eee;
    padding-top: .9rem;
    padding-bottom: 1rem;
}

.featured-parent .featured-slider .box .content h3{
    font-size: 2rem;
    color: #444;
}

.featured-parent .featured-slider .box .content .price{
    padding-bottom: .3rem;
    color: #444;
    font-size: 1.25rem;

}

.featured-parent .featured-slider .box .content .price span{
    
    color: #444;
    font-size: .8rem;
    text-decoration: line-through;
}

.color div{
    color: #444;
    height: 3rem;
    width: 2.5rem;
    border-radius: 5px;
}

.swiper-button-next,.swiper-button-prev{
    border: .1rem solid #444;
    background: #fff;
}



.swiper-button-next:hover,.swiper-button-prev:hover{
   background: #444;
   color: #fff;
}

/* featured section end */

/* newsletter start */
.newsletter{
    background: url("../image/NEWS/newsletter.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.newsletter form{
    max-width: 35rem;
    margin-left: auto;
    text-align: center;
    padding: 5rem 5rem;
}

.newsletter form h1{
    font-size: 2rem;
    color: #fff;
    font-weight: normal;
    padding-bottom: .5rem;
}

.newletterbox{
    width: 100%;
    margin: .7rem 0;
    padding: .3rem 1rem;
    font-size: 1.2rem;
    color: #444;
    border-radius: .5rem;
    text-transform: none;
}

/* newsletter end */

/* newarrival start */

.arrivals-slider .box{
    display: flex;
    align-items: center;
    gap: 3rem;
    width: 100%;
    height: 225px;
    padding: 2rem 1rem;
    border: .1rem solid rgba(0,0,0,0.1);
    margin: 1rem 0;
}

.arrivals-slider .box:hover{
    border: .1rem solid rgba(0,0,0,0.4);
}

.arrivals-slider .box .image img{
    height: 200px;
}

.arrivals-slider .box .content{
    text-align: center;
}

.arrivals-slider .box .content h3{
    color: #444;
    font-size: 2.2rem;
    text-align: center;
}

.arrivals-slider .box .content .price{
    padding-bottom: .3rem;
    color: #444;
    font-size: 1.25rem;
}

.arrivals-slider .box .content .price span{
    color: #666;
    font-size: .8rem;
    text-decoration: line-through;
}

.arrivals-slider .box .content .star{
    font-size: 1.5rem;
    color: #27ae60;
}

/* new arrival end */

/* dealer section start */
.dealersection{
    margin-top: 150px;
    padding-bottom: px;
    background: rgba(0, 0, 0, 0.1);
}

.dealersection .image{
    padding-top: 10%;
}

.dealersection .image img{
    width: 100%;
}

.dealersection .content{
    padding-top: 75px;
}

.dealersection .content-body{
    margin-left: 10%;
}

.dealersection .content h3{
    color: #27ae60;
    font-size: 2.1rem;
    font-weight: bold;
}

.dealersection .content h1{
    color: #444;
    font-size: 3rem;
    font-weight: bolder;
    padding: .5rem 0;
}

.dealersection .content p{
    color: #666;
    font-size: 1.2rem;
    font-weight: 600;
}

/* dealer section end */

/* review section start */
#review{
    margin-top: 150px;
}

.review-slider .box{
    width: 30rem;
    border: .1rem solid rgba(0,0,0,0.1);
    padding: 2rem;
    text-align: center;
}

.review-slider .box:hover{
    border: .1rem solid rgba(0,0,0,0.1);
}

.review-slider .box img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review-slider .box .star {
    color: #27ae60;
}

.review1, .review2, .review3 , .review4, .review5, .review6{
    text-decoration: none;
    color: #27ae60;
}

.reviewrl1,.reviewrl2,.reviewrl3,.reviewrl4,.reviewrl5,.reviewrl6{
    text-decoration: none;
    color: #27ae60;
}

.review1:hover,.review2:hover,.review3:hover,.review4:hover,.review5:hover,.review6:hover{
    cursor: pointer;
}

.reviewrl1:hover,.reviewrl2:hover,.reviewrl3:hover,.reviewrl4:hover,.reviewrl5:hover,.reviewrl6:hover{
    cursor:pointer;
}

#review1,#review2,#review3,#review4,#review5,#review6{
    display: none;
}

/* review section end */

/* blog section start */
.blogsection{
    margin-top: 150px;
}

.blog-slider .box{
    margin: 2rem 0;
    width: 30rem;
    border: .1rem solid rgba(0,0,0,0.1);
}

.blog-slider .box:hover{
    border: .1rem solid rgba(0,0,0,0.3);
}

.blog-slider .box .image{
    height: 20rem;
    width: 100%;
    overflow: hidden;
}

.blog-slider .box .image img{
    width: 100%;
    object-fit: cover;
    transition: .5s;
}

.blog-slider .box:hover .image img{
    transform: scale(1.1);
    transition: .5s;
}

.blog-slider .box .content{
    padding: 2rem;
}

.blog-slider .box h3{
    font-size: 1.5rem;
    color: #444;
}

.blog-slider .box p{
    font-size: 1rem;
    color: #444;
}

/* blog end */

/* footer start */
.box-container{
    display: grid;
    grid-template-columns: 20% 15% 25% 40%;
    gap: 1.5rem;
}

.box-container .box h3{
    font-size: 2.2rem;
    color: #444;
    padding: 1rem 0;
}

.box-container .box a{
    display: block;
    font-size: 1rem;
    color: #666;
    padding: 1rem 0;
    text-decoration: none;
}

.box-container .box a {
    color: #27ae60;
    padding-right: .5rem;
}

.box-container .box a:hover {
    padding-left: .2rem;
}

.box-container .box .map{
    width: 100%;
}

.share{
    padding: 1rem 0;
    text-align: center;
}

.share a{
    padding: 15px 25px;
    font-size: 2rem;
    border-radius: 50%;
    color: #fff;
    background: #27ae60;
}

.share a:hover{
    background: #444;
}

.credit{
    border-top: .1rem solid rgba(0,0,0,0.3);
    margin-top: 1rem;
    padding: 2rem 1rem;
    padding-top: 2.5rem;
    color: #666;
    text-align: center;
    font-size: 1rem;
}

.credit span{
    color: #27ae60;
}