.inline{
    border: 1px solid black;
    color: red !important;
    /* display: block; */
    width: 400px;
    display: inline-block;
}

.block{
    border: 1px solid #008000;
    width: 400px;
    display: inline-block;
}