a{
    color: blue;
    text-decoration: none;
}

a:hover{
    color: red;
    text-decoration: line-through;
    
}

a:active{
    color: green;
}

a:visited{
    color: yellow;
}

/* target */
p:target{
    color: green;
    border: 1px solid red;
}